  [[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
unittest2 = "==1.1.0"
psycopg2 = "==2.9.2"
djangorestframework = "==3.13.1"
factory-boy = "==3.2.1"
Django = "==4.0.3"

[dev-packages]
black = "*"
pylint = "*"
pylint-django = "*"
flake8 = "*"
pre-commit = "*"

[requires]
python_version = "3.9"

[scripts]
dev = "./manage.py runserver"
migrate = "./manage.py migrate"
